:root {
  --background: #F2F2F2;
  --foreground: #383838;
  --foreground-light: #323232;
  --accent-color: #87A878;

  --text-primary: #000000;
  --text-secondary: #ffffff;
  --text-hint: #57CE47;
}

/* 
html,
body {
  overflow-x: hidden;
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}