.addForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

.addForm label {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1.2em;
}

.currency {
    font-size: 2em
}

.inputGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1em;
}

.inputCheckbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.inputCheckbox input {
    padding: 1rem;
}

.inputCheckbox label {
    font-weight: 400;
    margin: 0;
    user-select: none;
}

.inputGroup input {
    flex: 1;
    padding: 1em;
    font-size: 1rem;
    border-radius: 5px;
}

.inputGroup select {
    padding: 1em 2em 1em 2em;
}

/* .addForm button {
    color: black;
    background-color: inherit;
    border: 1px solid black;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1rem;
    width: fit-content;
}

.addForm button:hover {
    background-color: var(--foreground-light);
}

.addForm button:hover span {
    filter: invert(1) grayscale(1) contrast(2);
} */

.buttonGroup {
    text-align: right;
}